<?xml version="1.0"?>
<robot name="snack_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="MySystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="Revolute_Left_Wheel">
      <command_interface name="velocity" />
      <state_interface name="velocity" />
      <state_interface name="position" />
    </joint>
    <joint name="Revolute_Right_Wheel">
      <command_interface name="velocity" />
      <state_interface name="velocity" />
      <state_interface name="position" />
    </joint>
  </ros2_control>

  <!-- Gazebo's ros2_control plugin -->
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find control_hardware)/config/sim_controller_manager.yaml</parameters>
    </plugin>
  </gazebo>

</robot>