<?xml version="1.0"?>
<robot name="snack_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="IMU" type="sensor" rw_rate="100">
    <hardware>
      <plugin>control_hardware/BNO08X_RVC_SensorHardware</plugin>
    </hardware>
    <sensor name="BNO08X">
      <state_interface name="orientation.x" />
      <state_interface name="orientation.y" />
      <state_interface name="orientation.z" />
      <state_interface name="orientation.w" />
      <state_interface name="angular_velocity.x" />
      <state_interface name="angular_velocity.y" />
      <state_interface name="angular_velocity.z" />
      <state_interface name="linear_acceleration.x" />
      <state_interface name="linear_acceleration.y" />
      <state_interface name="linear_acceleration.z" />
    </sensor>
  </ros2_control>

  <ros2_control name="LeftStepper" type="system" rw_rate="50">
    <hardware>
      <plugin>dynamixel_hardware_interface/DynamixelHardware</plugin>
      <param name="port_name">/dev/USB0</param>
      <param name="baud_rate">9600</param>
      <param name="error_timeout_ms">100</param>
      <param name="number_of_joints">2</param>
      <param name="number_of_transmissions">0</param>
    </hardware>
    <joint name="Revolute_Left_Wheel">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="Revolute_Right_Wheel">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <gpio name="left_wheel">
      <param name="type">dxl</param>
      <param name="ID">11</param>
      <command_interface name="Goal Velocity" />
      <state_interface name="Present Position"/>
      <state_interface name="Present Velocity"/>
      <state_interface name="Present Current"/>
      <param name="Position P Gain">800</param> <!-- Proportional gain for position control -->
      <param name="Position I Gain">100</param> <!-- Integral gain for position control -->
      <param name="Position D Gain">100</param> <!-- Derivative gain for position control -->
      <param name="Drive Mode">0</param> <!-- 0: Clockwise, 1: Counterclockwise -->
    </gpio>
    <gpio name="right_wheel">
      <param name="type">dxl</param>
      <param name="ID">12</param>
      <command_interface name="Goal Velocity" />
      <state_interface name="Present Position"/>
      <state_interface name="Present Velocity"/>
      <state_interface name="Present Current"/>
      <param name="Position P Gain">800</param> <!-- Proportional gain for position control -->
      <param name="Position I Gain">100</param> <!-- Integral gain for position control -->
      <param name="Position D Gain">100</param> <!-- Derivative gain for position control -->
      <param name="Drive Mode">1</param> <!-- 0: Clockwise, 1: Counterclockwise -->
    </gpio>
  </ros2_control>

    <!-- Gazebo's ros2_control plugin -->
  <gazebo>
    <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find control_hardware)/config/controller_manager.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
