 <?xml version="1.0" ?>
 <model>
   <name>Apartment</name>
   <version>1.0</version>
   <author>
     <name>Anthony Vasquez</name>
     <email>amvasquez77@gmail.com</email>
   </author>
   <sdf version='1.4'>model.sdf</sdf>
   <description>
        Simple model of an apartment
    </description>
 </model>