[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
	branch = ros2
[submodule "src/dynamixel_hardware_interface"]
	path = src/dynamixel_hardware_interface
	url = https://github.com/ROBOTIS-GIT/dynamixel_hardware_interface.git
[submodule "src/dynamixel_interfaces"]
	path = src/dynamixel_interfaces
	url = git@github.com:ROBOTIS-GIT/dynamixel_interfaces.git
